[user]
	name = gobborg
	email = kotatsugoblin@gmail.com
[init]
	templateDir = /home/gobborg/.git-template
	defaultBranch = main
[merge]
	tool = vimdiff

[core]
	editor = /usr/local/bin/vim
	excludesfile = /home/gobborg/.gitignore

[alias]
	aa = add --all
	st = status
	br = branch
	cm = commit -m
[color]
	ui = auto
